<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Task Scheduler</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
        />
        <style>
            .collapsible {
                cursor: pointer;
            }

            .content {
                display: none;
            }
        </style>
    </head>

    <body>
        <section class="hero is-primary is-fullheight">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a
                                    href="{{ url_for('home') }}"
                                    class="navbar-item"
                                    >Home</a
                                >
                                <a
                                    href="{{ url_for('tasks') }}"
                                    class="navbar-item"
                                    >Tasks</a
                                >
                                <a
                                    href="{{ url_for('profile') }}"
                                    class="navbar-item"
                                    >Profile</a
                                >
                                <a
                                    href="{{ url_for('login') }}"
                                    class="navbar-item"
                                    >Login</a
                                >
                                <a
                                    href="{{ url_for('signup') }}"
                                    class="navbar-item"
                                    >Sign Up</a
                                >
                                <a
                                    href="{{ url_for('logout') }}"
                                    class="navbar-item"
                                    >Logout</a
                                >
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    {% block content %} {% endblock %}
                </div>
            </div>

            <script>
                const form = document.querySelector('#myForm')
                form.addEventListener('submit', async (event) => {
                    event.preventDefault()
                    const formData = new FormData(form)
                    const jsonObject = {}
                    formData.forEach((value, key) => {
                        jsonObject[key] = value
                    })
                    const url = window.location.href
                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonObject),
                    })
                })
            </script>
        </section>
    </body>
</html>
