{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4" id="forgot_password">
    <h3 class="title">Provide email of your account</h3>
    <div class="box">
        <form id="myForm">
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="email"
                        name="email"
                        placeholder="Your Email"
                        autofocus=""
                        required
                    />
                </div>
            </div>

            <button
                type="submit"
                class="button is-block is-info is-large is-fullwidth"
            >
                Send password reset link
            </button>
        </form>

        {% endblock %}
    </div>
</div>
