{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4" id="logged">
    <h3 class="title">You're already logged in</h3>
    <div class="box">
        <button
            onclick="location.href='/logout';"
            id="myButton"
            class="button is-block is-info is-large is-fullwidth"
        >
            Log out
        </button>
    </div>
</div>
{% endblock %}
