{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4" id="login">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">{{ messages[0] }}</div>
        {% endif %} {% endwith %}
        <form id="myForm" method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="email"
                        name="email"
                        placeholder="Your Email"
                        autofocus=""
                        required
                    />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="password"
                        name="password"
                        placeholder="Your Password"
                        required
                    />
                </div>
            </div>
            <button id="myButton" class="button is-block is-info is-fullwidth">
                Forgot password?
            </button>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember" />
                    Remember me
                </label>
            </div>
            <button
                type="submit"
                class="button is-block is-info is-large is-fullwidth"
            >
                Log in
            </button>
        </form>
    </div>
    <button
        onclick="location.href='/login/google';"
        id="googleButton"
        class="button is-block is-info is-large is-fullwidth"
    >
        Log in with Google
    </button>
</div>

<script>
    const button = document.querySelector('#myButton')
    button.addEventListener('click', () => {
        const forgotPasswordUrl = "{{ url_for('forgot_password') }}"
        window.location.href = forgotPasswordUrl
    })
</script>
{% endblock %}
