{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4" id="password_reset">
    <h3 class="title">Reset Password</h3>
    <div class="box">
        <form id="myForm">
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="password"
                        name="password"
                        placeholder="New password"
                        required
                    />
                </div>
            </div>

            <button
                type="submit"
                class="button is-block is-info is-large is-fullwidth"
            >
                Save
            </button>
        </form>

        {% endblock %}
    </div>
</div>
