{% extends "base.html" %} {% block content %}
<div class="container" id="profile">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h1 class="title is-4">Profile</h1>

                <div
                    id="errorMessage"
                    class="notification is-danger is-hidden"
                ></div>

                <div class="field">
                    <label class="label">Username</label>
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input
                                class="input"
                                type="text"
                                value="{{username}}"
                                id="usernameInput"
                                disabled
                            />
                        </p>
                        <p class="control">
                            <a
                                class="button is-info"
                                onclick="toggleEditModeButtons('usernameInput')"
                                >Edit</a
                            >
                            <button
                                class="button is-success is-hidden"
                                onclick="saveChanges('usernameInput')"
                            >
                                Save
                            </button>
                            <button
                                class="button is-danger is-hidden"
                                onclick="cancelChanges('usernameInput')"
                            >
                                Cancel
                            </button>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input
                                class="input"
                                type="email"
                                value="{{user_email}}"
                                id="emailInput"
                                disabled
                            />
                        </p>
                        <p class="control">
                            <a
                                class="button is-info"
                                onclick="toggleEditModeButtons('emailInput')"
                                >Edit</a
                            >
                            <button
                                class="button is-success is-hidden"
                                onclick="saveChanges('emailInput')"
                            >
                                Save
                            </button>
                            <button
                                class="button is-danger is-hidden"
                                onclick="cancelChanges('emailInput')"
                            >
                                Cancel
                            </button>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input
                                class="input"
                                type="password"
                                value=""
                                id="passwordInput"
                                disabled
                            />
                        </p>
                        <p class="control">
                            <a class="button is-info" onclick="resetPassword()"
                                >Reset</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleEditModeButtons(inputId) {
        const inputField = document.getElementById(inputId)
        const parentDiv = inputField.closest('.field.has-addons')
        const editButton = parentDiv.querySelector('.button.is-info')
        const saveButton = parentDiv.querySelector('.button.is-success')
        const cancelButton = parentDiv.querySelector('.button.is-danger')

        if (inputField.disabled) {
            // Entering edit mode
            inputField.dataset.originalValue = inputField.value // Store the original value
            inputField.disabled = false // Enable the input field

            editButton.classList.add('is-hidden')
            saveButton.classList.remove('is-hidden')
            cancelButton.classList.remove('is-hidden')
        } else {
            // Exiting edit mode without saving
            inputField.value = inputField.dataset.originalValue // Restore the original value
            inputField.disabled = true // Disable the input field

            editButton.classList.remove('is-hidden')
            saveButton.classList.add('is-hidden')
            cancelButton.classList.add('is-hidden')
        }
    }

    function cancelChanges(inputId) {
        const inputField = document.getElementById(inputId)
        const parentDiv = inputField.closest('.field.has-addons')

        inputField.value = inputField.dataset.originalValue // Restore the original value
        inputField.disabled = true // Disable the input field

        const editButton = parentDiv.querySelector('.button.is-info')
        const saveButton = parentDiv.querySelector('.button.is-success')
        const cancelButton = parentDiv.querySelector('.button.is-danger')

        editButton.classList.remove('is-hidden')
        saveButton.classList.add('is-hidden')
        cancelButton.classList.add('is-hidden')
    }

    async function saveChanges(inputId) {
        const inputField = document.getElementById(inputId)
        const parentDiv = inputField.closest('.field.has-addons')
        const updatedValue = inputField.value
        const errorMessage = document.getElementById('errorMessage')

        try {
            // Prepare the data to send in the request body
            const data = {
                [inputId]: updatedValue,
            }

            // Send the PUT request to the current URL
            const response = await fetch(window.location.href, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })

            // Check if the request was successful
            if (!response.ok) {
                throw new Error('Failed to update data')
            }

            // Disable the input field
            inputField.disabled = true

            const editButton = parentDiv.querySelector('.button.is-info')
            const saveButton = parentDiv.querySelector('.button.is-success')
            const cancelButton = parentDiv.querySelector('.button.is-danger')

            // Show the edit button and hide the save and cancel buttons
            editButton.classList.remove('is-hidden')
            saveButton.classList.add('is-hidden')
            cancelButton.classList.add('is-hidden')
        } catch (error) {
            console.error(error)
            // Handle the error and inform the user
            errorMessage.textContent =
                'An error occurred while saving the changes. Please try again.'
            errorMessage.classList.remove('is-hidden')

            // Remove the error message after 5 seconds
            setTimeout(() => {
                errorMessage.textContent = ''
                errorMessage.classList.add('is-hidden')
            }, 5000)
        }
    }

    async function resetPassword() {
        try {
            const response = await fetch(window.location.href, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: 'passwordReset',
            })

            if (response.ok) {
                // Handle the successful response
            } else {
                console.error('Failed to send reset link:', response.status)
            }
        } catch (error) {
            console.error('Error while trying to reset password:', error)
        }
    }
</script>

{% endblock %}
