<!doctype html>
<html>
    <head>
        <title>Password Reset Email</title>
    </head>
    <body>
        <h2>Password Reset Request</h2>
        <p>Click the following link to reset your password:</p>
        <a href="{{reset_link}}">{{reset_link}}</a>
    </body>
</html>
