{% extends "base.html" %} {% block content %}
<button id="toggleNotificationsBtn" onclick="toggleNotifications()">
    Toggle Notifications
</button>
<table class="table is-bordered is-fullwidth" id="tasks">
    <thead>
        <tr>
            <th>Task name</th>
            <th>Note</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="collapsible">
            <td>{{ task.name }}</td>
            <td>{{ task.note }}</td>
            <td>{{ task.date_and_time }}</td>
            <td>
                <div class="buttons">
                    <button
                        class="button is-danger is-small"
                        onclick="deleteTask('{{ task.id }}')"
                    >
                        Delete
                    </button>
                    <button
                        class="button is-info is-small"
                        onclick="showUpdateTaskInput('{{ task.id }}', this)"
                    >
                        Update
                    </button>
                    <button
                        class="button is-primary is-small"
                        onclick="showAddNotificationInput('{{ task.id }}', this)"
                    >
                        Add Notification
                    </button>
                </div>
            </td>
        </tr>
        <tr class="content">
            <th>Notifications</th>
            <td colspan="3">
                {% for notification in task.notifications %}
                <div
                    class="notification-cell"
                    data-notification-id="{{ notification.id }}"
                >
                    <span>{{ notification.date_and_time }}</span>
                    <div class="buttons">
                        <button
                            class="button is-danger is-small"
                            onclick="deleteNotification('{{ notification.id }}')"
                        >
                            Delete
                        </button>
                        <button
                            class="button is-info is-small"
                            onclick="showUpdateNotificationInput('{{ notification.id }}', this)"
                        >
                            Update
                        </button>
                    </div>
                </div>
                <br />
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="column is-4 is-offset-4">
    <h3 class="title">New Task</h3>
    <div class="box">
        <form id="myForm" method="POST" action="/tasks">
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="text"
                        name="name"
                        placeholder="Name"
                        autofocus=""
                        required
                    />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="text"
                        name="note"
                        placeholder="Note"
                    />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="datetime-local"
                        name="date_and_time"
                        placeholder="Date and time"
                        required
                    />
                </div>
                <button type="button" onclick="addInput()">
                    Add notification
                </button>
            </div>
            <button
                id="submitButton"
                type="submit"
                class="button is-block is-info is-large is-fullwidth"
            >
                Save task
            </button>
        </form>
    </div>
</div>

<script>
    function createButton(text, onClick) {
        var button = document.createElement('button')
        button.innerText = text
        button.addEventListener('click', onClick)
        return button
    }

    function toggleNotifications() {
        const contentRows = document.getElementsByClassName('content')
        const toggleButton = document.getElementById('toggleNotificationsBtn')

        // Check if any notifications are currently hidden
        const areNotificationsHidden = contentRows[0].style.display === 'none'

        // Toggle the display of all notification rows
        for (let i = 0; i < contentRows.length; i++) {
            contentRows[i].style.display = areNotificationsHidden
                ? 'table-row'
                : 'none'
        }

        // Update the button text based on the current state
        toggleButton.textContent = areNotificationsHidden
            ? 'Hide Notifications'
            : 'Show Notifications'
    }

    const collapsibleRows = document.getElementsByClassName('collapsible')
    for (let i = 0; i < collapsibleRows.length; i++) {
        collapsibleRows[i].addEventListener('click', function (event) {
            if (
                !event.target.matches('button') &&
                !event.target.matches('input')
            ) {
                this.classList.toggle('active')
                const content = this.nextElementSibling
                if (content.style.display === 'table-row') {
                    content.style.display = 'none'
                } else {
                    content.style.display = 'table-row'
                }
            }
        })
    }

    let notificationCount = 1
    function addInput() {
        const container = document.getElementById('myForm')
        const newInput = document.createElement('div')
        const inputName = `notification_${notificationCount}`
        newInput.innerHTML = `<input type="datetime-local" name="${inputName}" required>
                            <button type="button" onclick="removeInput(this)">Remove</button>`
        container.insertBefore(newInput, submitButton)
        notificationCount++
    }

    function removeInput(button) {
        const inputContainer = button.parentNode
        inputContainer.parentNode.removeChild(inputContainer)
    }

    function showAddNotificationInput(taskId, addButton) {
        const container = addButton.parentNode.parentNode
        const input = document.createElement('input')
        input.type = 'datetime-local'
        input.required = true
        const saveButton = document.createElement('button')
        saveButton.textContent = 'Save'
        saveButton.onclick = function () {
            if (input.checkValidity()) {
                const newInputValue = input.value
                addNotification(taskId, newInputValue)

                // Clean up the input and buttons
                input.parentNode.removeChild(input)
                saveButton.parentNode.removeChild(saveButton)
                cancelButton.parentNode.removeChild(cancelButton)
            } else {
                alert('Time cannot be empty.')
            }
        }
        const cancelButton = document.createElement('button')
        cancelButton.textContent = 'Cancel'
        cancelButton.onclick = function () {
            // Clean up the input and buttons
            input.parentNode.removeChild(input)
            saveButton.parentNode.removeChild(saveButton)
            cancelButton.parentNode.removeChild(cancelButton)
        }

        container.insertBefore(cancelButton, addButton.parentNode.nextSibling)
        container.insertBefore(saveButton, addButton.parentNode.nextSibling)
        container.insertBefore(input, addButton.parentNode.nextSibling)
    }

    function showUpdateNotificationInput(notificationId, updateButton) {
        const notificationCell = updateButton.parentNode.parentNode
        const span = notificationCell.querySelector('span')
        const notificationValue = span.textContent

        // Store the original notification value
        const originalNotificationValue = notificationValue

        // Create input field
        const input = createInputField(
            notificationValue,
            'datetime-local',
            true
        )

        // Create save and cancel buttons
        const saveButton = createButton('Save', function () {
            if (input.checkValidity()) {
                const newNotificationValue = input.value
                updateNotification(notificationId, newNotificationValue)

                // Show the update button
                updateButton.style.display = 'inline-block'

                // Restore cell content to original state
                replaceElement(input, span)
                replaceElement(saveButton, updateButton)
                replaceElement(cancelButton, updateButton)

                // Show the span element
                span.style.display = 'inline'
            } else {
                alert('Time cannot be empty.')
            }
        })

        const cancelButton = createButton('Cancel', function () {
            // Restore the original notification value
            span.textContent = originalNotificationValue

            // Restore cell content to original state
            replaceElement(input, span)
            replaceElement(saveButton, updateButton)
            replaceElement(cancelButton, updateButton)

            // Show the update button
            updateButton.style.display = 'inline-block'

            // Show the span element
            span.style.display = 'inline'
        })

        // Retrieve the existing delete button
        const deleteButton = notificationCell.querySelector(
            '.buttons .is-danger'
        )

        // Replace the notification cell content with the input field
        notificationCell.innerHTML = ''
        notificationCell.appendChild(input)

        // Create a new buttons container and append the buttons
        const buttonContainer = document.createElement('div')
        buttonContainer.className = 'buttons'
        buttonContainer.appendChild(deleteButton) // Reattach the existing delete button
        buttonContainer.appendChild(saveButton)
        buttonContainer.appendChild(cancelButton)
        notificationCell.appendChild(buttonContainer)
    }

    function showUpdateTaskInput(taskId, updateButton) {
        const row = updateButton.parentNode.parentNode.parentNode
        const nameCell = row.cells[0]
        const noteCell = row.cells[1]
        const timeCell = row.cells[2]

        // Check if any of the cells are null
        if (!nameCell || !noteCell || !timeCell) {
            console.error('Failed to access table cells.')
            return
        }

        const nameValue = nameCell.textContent
        const noteValue = noteCell.textContent
        const timeValue = timeCell.textContent

        // Create input fields
        const nameInput = createInputField(nameValue, 'text')
        const noteInput = createInputField(noteValue, 'text')
        const timeInput = createInputField(timeValue, 'datetime-local')

        // Create save and cancel buttons
        const saveButton = createButton('Save', function () {
            const newNameValue = nameInput.value
            const newNoteValue = noteInput.value
            const newTimeValue = timeInput.value

            // Check if the name and time fields are not empty
            if (newNameValue.trim() === '' || newTimeValue.trim() === '') {
                alert('Name and time fields are required.')
                return
            }

            updateTask(taskId, newNameValue, newNoteValue, newTimeValue)

            // Update cell contents with new values
            nameCell.textContent = newNameValue
            noteCell.textContent = newNoteValue
            timeCell.textContent = newTimeValue

            // Restore cell contents to original state
            replaceElement(nameInput, nameCell.firstChild)
            replaceElement(noteInput, noteCell.firstChild)
            replaceElement(timeInput, timeCell.firstChild)
            buttonCell.remove()

            // Show the update button
            updateButton.style.display = 'inline-block'
        })

        const cancelButton = createButton('Cancel', function () {
            // Restore cell contents to original state
            nameCell.textContent = nameValue
            noteCell.textContent = noteValue
            timeCell.textContent = timeValue

            // Remove input fields and buttons
            nameInput.remove()
            noteInput.remove()
            timeInput.remove()
            buttonCell.remove()

            // Show the update button
            updateButton.style.display = 'inline-block'
        })

        // Create the button cell
        const buttonCell = document.createElement('td')
        buttonCell.className = 'buttons-cell'
        buttonCell.appendChild(saveButton)
        buttonCell.appendChild(cancelButton)

        // Update the structure of the row
        row.appendChild(buttonCell)

        // Append input fields to the respective cells
        replaceElement(nameCell.firstChild, nameInput)
        replaceElement(noteCell.firstChild, noteInput)
        replaceElement(timeCell.firstChild, timeInput)

        // Hide the update button
        updateButton.style.display = 'none'
    }

    function createInputField(value, type = 'text', required = false) {
        const input = document.createElement('input')
        input.value = value
        input.type = type

        if (required) {
            input.required = true
        }

        return input
    }

    function replaceElement(oldElement, newElement) {
        if (!oldElement) {
            console.error('Old element is null.')
            return
        }
        if (!oldElement.parentNode) {
            console.error('Old element does not have a parent node.')
            return
        }
        if (!newElement) {
            console.error('New element is null.')
            return
        }

        oldElement.parentNode.insertBefore(newElement, oldElement)
        oldElement.parentNode.removeChild(oldElement)
    }

    async function addNotification(taskId, newInputValue) {
        try {
            const response = await fetch('/notifications/' + taskId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newInputValue }),
            })

            if (response.ok) {
                // Handle the successful response
            } else {
                console.error('Failed to add notification:', response.status)
            }
        } catch (error) {
            console.error('Error while adding notification:', error)
        }
    }

    async function deleteNotification(notificationId) {
        // Ask for confirmation before deleting
        if (confirm('Are you sure you want to delete this notification?')) {
            try {
                const response = await fetch(
                    '/notifications/' + notificationId,
                    {
                        method: 'DELETE',
                    }
                )

                if (response.ok) {
                    // Remove the corresponding notification element from the DOM
                    const deleteButton = document.querySelector(
                        `.delete-btn[data-notification-id="${notificationId}"]`
                    )
                    deleteButton.parentNode.parentNode.remove()
                } else {
                    console.error(
                        'Failed to delete notification:',
                        response.status
                    )
                }
            } catch (error) {
                console.error('Error while deleting notification:', error)
            }
        }
    }

    async function updateNotification(notificationId, newInputValue) {
        try {
            const response = await fetch('/notifications/' + notificationId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newInputValue }),
            })

            if (response.ok) {
                // Handle the successful response
            } else {
                console.error('Failed to update notification:', response.status)
            }
        } catch (error) {
            console.error('Error while updating notification:', error)
        }
    }

    async function deleteTask(taskId) {
        // Ask for confirmation before deleting
        if (confirm('Are you sure you want to delete this task?')) {
            try {
                const response = await fetch('/tasks/' + taskId, {
                    method: 'DELETE',
                })

                if (response.ok) {
                    // Remove the corresponding task element from the DOM
                    const deleteButton = document.querySelector(
                        `.delete-task-btn[data-task-id="${taskId}"]`
                    )
                    deleteButton.parentNode.parentNode.parentNode.remove()
                } else {
                    console.error('Failed to delete task:', response.status)
                }
            } catch (error) {
                console.error('Error while deleting task:', error)
            }
        }
    }

    async function updateTask(
        taskId,
        newNameValue,
        newNoteValue,
        newTimeValue
    ) {
        try {
            const response = await fetch('/tasks/' + taskId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: newNameValue,
                    note: newNoteValue,
                    date_and_time: newTimeValue,
                }),
            })

            if (response.ok) {
                // Handle the successful response
            } else {
                console.error('Failed to update task:', response.status)
            }
        } catch (error) {
            console.error('Error while updating task:', error)
        }
    }
</script>
{% endblock %}
